/*------------------------------------------------------------------------------
Fonts Used
------------------------------------------------------------------------------*/

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/





/*------------------------------------------------------------------------------
Skeleton mod
------------------------------------------------------------------------------*/

.container {
  max-width: 2440px;
  padding: 0;
  }

  @media (min-width: 550px) {
    .container {
      width: 100%; }
    .column,
    .columns {
      margin-left: 0; }
    .column:first-child,
    .columns:first-child {
      margin-left: 0; }
	.six.columns                    { width: 50%;            }
  	.four.columns                   { width: 33.3333333333%; }
    .eight.columns                  { width: 66.6666666667%; }
  	.three.columns                  { width: 25%;            }
  	.one-third.column               { width: 33.3333333333%; }
  	.two-thirds.column              { width: 65.3333333333%; }
  	.one-half.column                { width: 50%; }
  }


/*------------------------------------------------------------------------------
General
------------------------------------------------------------------------------*/

*{
	box-sizing: border-box;
}

h2.hideHeader{
	display: none;
}


/*------------------------------------------------------------------------------
Loading Section
------------------------------------------------------------------------------*/





/*------------------------------------------------------------------------------------
Header section
------------------------------------------------------------------------------------*/

.headerBar{
      display:block;
      width:100%;
      height:60px;

      position:fixed;
      z-index:11;
}

.headerBar h1{
      display: none;
}

.logo{
      display: block;
      width:200px;
      height:40px;
      margin:10px 20px;
      background: url("images/fittrip-logo-final.png") no-repeat;
      background-size: contain;
      text-indent: -9999%;
}

/*navigation button takes you to contact form */
.navButton{
      position:absolute;
      top:0;
      right:0;
      padding:10px 20px;
      font-size: 2em;
      color: white;
}




/*------------------------------------------------------------------------------------
Navigation/Menu Modal window Section
------------------------------------------------------------------------------------*/

.overlayNav{
      position:fixed;
      background: rgba(100, 75, 209,0.7);
      top:0;
      left:0;
      right:0;
      bottom:0;
      opacity:0.5;
      z-index: 12;
      text-align: center;
      opacity:0;
      pointer-events: none;
      transition: all 0.5s;
}

.overlayNav.showOverlayNav{
      opacity:1;
      pointer-events:auto;
}

#nav{
      margin:0 auto;
      margin-top:150px;
      max-width:600px;
      max-height: 500px;
      background: white;
      position:relative;
      transform: translateY(-30px);
      transition: all 0.3s ease-in-out;
      box-shadow: 0px 3px 10px 3px rgba(0,0,0,0.5);
}


#nav ul {
  list-style: none;
  padding: 20px 0px;
 }

#nav ul li{
      padding: 10px 0px;
}

#nav ul li a{
      text-decoration: none;
      color:rgba(100, 75, 209, 0.8);
      font-size: 1.5em;
      font-family: 'Montserrat', sans-serif;
      /*font-family: 'Open Sans', sans-serif;*/
      font-weight: 700;
      font-style: italic;
      text-transform: uppercase;
}


#nav.showNav{
      transform: translateY(0px);

}

.closeNav{
      position:absolute;
      top:-35px;
      right:-20px;
      font-size:2em;
      color: white;
      cursor: pointer;
}








/*------------------------------------------------------------------------
Main Styles
------------------------------------------------------------------------*/









/*------------------------------------------------------------------------------------
Hero Section
------------------------------------------------------------------------------------*/

.heroSection{
      display: block;
      width:100%;
      height:100vh;
      overflow: hidden;
}

.backImage{
    display: block;
    min-width:100%;
    min-height:100%;
    background:url("images/hero.jpg") center center no-repeat;
    background-size: cover;
    transform-origin: center center;
    transition: all 15s ease-in-out;
}

.backImage:hover{
      transform:scale(1.3,1.3);
}


/*------------------------------------------------------------------------------------
About Us  section
------------------------------------------------------------------------------------*/


.introBox{
    display: block;
    width:100%;
    height:100vh;
    }

.introTextBox{
    background: teal;
    padding:50px 30px;
}

.introTextMain{
	opacity:0;
	transform: translateX(-50px);
	transition: all 0.7s ease-in-out;
	overflow: hidden;
}

.introTextMain h3{
      font-family: 'Montserrat', sans-serif;
      /*font-family: 'Open Sans', sans-serif;*/
      font-weight: 700;
      font-style: italic;
      text-transform: uppercase;

}

.introTextMain p{
      font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

.introTextMain.isShowing{
    opacity:1;
    transform: translateX(0px);
}

.introImageBox{
      overflow: hidden;
      background: white;
}

.introImage{
      display: block;
      width:100%;
      height:100%;
      background: url("images/stunt.jpg") -60px 0px no-repeat;
      background-size: cover;
      transform-origin: center right;
      opacity: 0;
      transform: translateX(50px);
      transition: all 0.7s ease-in-out;
}

.introImage.isShowing{
      opacity: 1;
      transform: translateX(0px);
}




/*------------------------------------------------------------------------------------
Feature section
------------------------------------------------------------------------------------*/

.featureTextBox{
    display: block;
    width:100%;
    height:100vh;
    background: lightblue;
    /*padding: 50px 30px;*/
    position:relative;
}

.featureTextMain,.featureTextOne,.featureTextTwo,.featureTextThree,.featureTextFour{
    font-size: 18px;
    position:absolute;
    padding: 30px;
    top:0;
    opacity:0;
    transition: all 0.3s ease-in-out;
}

.featureTextMain.showText,.featureTextOne.showText,.featureTextTwo.showText,.featureTextThree.showText,.featureTextFour.showText{
	display: block;
	opacity: 1;
	transition: all 0.8s ease-in-out;
}

.featureImageBox{
      display: block;
      width:100%;
      height: 100vh;
      background: brown;
      overflow:hidden;
}

.featureBox{
      display: block;
      width:100%;
      height:50vh;
}

.featureBox i{
      display: none;
      font-size: 3em;
      color:white;
      margin-left: 3%;
}

.featureOneColor.ion-ios-close-outline.showClose{
      display:block;
      z-index: 15;
}


.featureOneColor{
      width:100%;
      height:100%;
      background: url("images/bikenature.jpg") -30px 0px no-repeat;
      background-size: cover;
      transform-origin: top left;
}

.featureTwoColor{
      background: url("images/fatbikes.jpg") 0px 0px no-repeat;
      background-size: cover;
      width:100%;
      height:110%;
      transform-origin: top right;
}

.featureThreeColor{
      background: url("images/climb.jpg") 0px 0px no-repeat;
      background-size: cover;
      width:100%;
      height:100%;
      transform-origin: bottom left;
}

.featureFourColor{
      background: url("images/bluebike.jpg") -30px 0px no-repeat;
      background-size: cover;
      width:100%;
      height:100%;
      transform-origin: bottom right;
}

.featureOneColor.scale,.featureTwoColor.scale,
.featureThreeColor.scale,.featureFourColor.scale{
      transform:scale(2.0,2.0);
}




/*------------------------------------------------------------------------------------
Contact Section
------------------------------------------------------------------------------------*/

.contactBox{
    display: block;
    width: 100%;
    height:25vw;
    padding: 20px 50px;
    text-align: center;
    border-left: 0.1px solid #555;
}

.contactOne{
    background: teal;
}

.contactTwo{
    background: teal;
}

.contactThree{
    background: teal;
}

.contactFour{
    background: teal;
}

div.newsButton, div.dealerButton, div.contactButton {
      padding: 0px;
}


.contactSection h3{
      font-size: 1.5em;
}





/*------------------------------------------------------------------------------------
Contact One Section
------------------------------------------------------------------------------------*/





/*------------------------------------------------------------------------------------
Contact Two Section
------------------------------------------------------------------------------------*/


.newsButton{
      font-size: 2.5em;
      color: white;
      cursor: pointer;
      border: 1px solid white;
      background: transparent;
      padding: 0px;
      line-height: 0px;
      width: 60px;
      margin: 0 auto;

}




.contactTwo input{
      border: 1px solid white;
      background: transparent;
      border-radius: 0px;
      margin-bottom: 10px;
}








/*------------------------------------------------------------------------------------
Contact Three Section
------------------------------------------------------------------------------------*/


.dealerButton{
      font-size: 2.5em;
      color: white;
      padding: 30px;
      cursor: pointer;
      border: 1px solid white;
      background: transparent;
      border-radius: 50%;
      width:60px;
      height:60px;
      margin: 0 auto;
      line-height: 1.7em;
}



/*------------------------------------------------------------------------------------
Contact Four Section
------------------------------------------------------------------------------------*/







/*contact button takes you to contact form */
.contactButton{
      font-size: 2.1em;
      color: white;
      padding: 30px;
      cursor: pointer;
      border: 1px solid white;
      background: transparent;
      border-radius: 50%;
      width:60px;
      height:60px;
      margin: 0 auto;
      line-height: 1.9em;
}






/*------------------------------------------------------------------------------------
Social Media section
------------------------------------------------------------------------------------*/




.contactSection{
  position: relative;
}

.socialBox{
  display:inline-block;
  height:60px;
  width:300px;
  margin-bottom:15px;
  background:none; /*purple*/
   /* seems to do the same in Safari Family of Browsers*/                 /*remove this*/
  position: fixed;
  z-index:10;
  bottom:0px;
  left:10px;
}

.socialBox.sit{
  position: absolute;
}

.icon{
  display:inline-block;
  width:40px;
  height:40px;
  margin: 10px;
  color: white;
  text-align: center;
  font-size: 2em;
  line-height: 0.1em;
  }

.socialOne{
  /*background:teal;*/
}

.socialTwo{
  /*background:green;*/
}

.socialThree{
  /*background:blue;*/
}

.socialFour{
  /*background:magenta;*/
}

.iconSetOne{
  display: inline-block;
  tranform: translateY(0px);
  transition: all 0.9s ease;
}

.iconSetTwo{
  display: inline-block;
  tranform: translateX(0px);
  transition: all 0.9s ease;
}

.iconSetOne.moveIt{
  transform: translateY(-60px);
}

.iconSetTwo.moveIt{
  transform: translateX(-128px);
}










/*------------------------------------------------------------------------------------
Contact Modal section
------------------------------------------------------------------------------------*/

.overlayContact{
      position:fixed;
      background: yellow;
      top:0;
      left:0;
      right:0;
      bottom:0;
      opacity:0.5;
      z-index: 12;
      text-align: center;
      opacity:0;
      pointer-events: none;
      transition: all 0.5s;
}

.overlayContact.showOverlayContact{
      opacity:1;
      pointer-events:auto;
}

.contactModal{
      margin:0 auto;
      margin-top:150px;
      max-width:600px;
      max-height: 500px;
      background: skyblue;
      position:relative;
      transform: translateY(-30px);
      transition: all 0.3s ease-in-out;
}

.contactModal.showContactForm{
      transform: translateY(0px);
}

.closeContact{
      position:absolute;
      top:-35px;
      right:-20px;
      font-size:2em;
      cursor: pointer;
}



/*------------------------------------------------------------------------------------
Form section
------------------------------------------------------------------------------------*/



/*------------------------------------------------------------------------------------
Footer section
------------------------------------------------------------------------------------*/
.footerSection{
    display:block;
    width:100%;
    height:350px;
    background: #202020;
    color:white;
    text-align: center;
    padding: 50px;
    color: #888;
}
.footerInfo li{
      display: inline-block;
      padding: 10px 20px;
}

.footerInfo li a{
      text-decoration: none;
      color: #888;
}


/*------------------------------------------------------------------------------------
Scroll to Top Button
------------------------------------------------------------------------------------*/

.scrollToTop{
	width:50px;
	height:50px;
	padding:10px;
	text-align:center;
      background: rgba(0,0,0,0.5);
      border-radius: 50%;
	font-weight: bold;
	color: white;
	text-decoration: none;
	position:fixed;
	bottom:10px;
	right:40px;
	display:none;
      font-size: 2em;
      line-height: 0.8em;
      text-align: center;
	}

.scrollToTop:hover{
	text-decoration:none;
}


/*------------------------------------------------------------------------------------
Dealer Modal section
------------------------------------------------------------------------------------*/

.overlayDealer{
      position:fixed;
      background: salmon;
      top:0;
      left:0;
      right:0;
      bottom:0;
      opacity:0.5;
      z-index: 12;
      text-align: center;
      opacity:0;
      pointer-events: none;
      transition: all 0.5s;
}

.overlayDealer.showOverlayDealer{
      opacity:1;
      pointer-events:auto;
}

.dealerModal{
      margin:0 auto;
      margin-top:150px;
      max-width:600px;
      max-height: 500px;
      background: skyblue;
      position:relative;
      transform: translateY(-30px);
      transition: all 0.3s ease-in-out;
}

.dealerModal.showDealer{
      transform: translateY(0px);
}

.closeDealer{
      position:absolute;
      top:-35px;
      right:-20px;
      font-size:2em;
      cursor: pointer;
}








/*------------------------------------------------------------------------------------
NewsLetter Modal section
------------------------------------------------------------------------------------*/

.overlayNews{
      position:fixed;
      background: salmon;
      top:0;
      left:0;
      right:0;
      bottom:0;
      opacity:0.5;
      z-index: 12;
      text-align: center;
      opacity:0;
      pointer-events: none;
      transition: all 0.5s;
}

.overlayNews.showOverlayNews{
      opacity:1;
      pointer-events:auto;
}

.newsModal{
      margin:0 auto;
      margin-top:150px;
      max-width:600px;
      max-height: 500px;
      background: skyblue;
      position:relative;
      transform: translateY(-30px);
      transition: all 0.3s ease-in-out;
}

.newsModal.showNews{
      transform: translateY(0px);
}

.closeNews{
      position:absolute;
      top:-35px;
      right:-20px;
      font-size:2em;
      cursor: pointer;
}













/*------------------------------------------------------------------------------------
About Us Page..............
------------------------------------------------------------------------------------*/
.aboutUsSection{
      position: relative;
      display:block;
      background: white;
      z-index: 10;
}
